.place__title {
  margin: 0;
  padding: 0;
  grid-area: title;
  justify-self: start;
  align-self: end;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}
/*На этой ширине заголовок "Куршская коса", согласно фигме, располагается в 2 строки,
но по моей работе слова уже обединяются в одну, хотя размер шрифта, начертание,
размер секции грида соответсвуют фигме + "Куршская коса" это 12 букв с пробелом,
также, как "Зимниый Байкал", но он и в фигме встает в одну строку на 768px.
Решила, что это не приципиальный момент,
который в реальноси можно было бы обсудить с дизайнером.
Придумаю, как исправить, если сочтете это важным*/

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 1.08;
    padding-left: 16px;
    padding-right: 16px;
  }
}