.header__logo {
  margin: 0;
  padding: 0;
  width: 176px;
  height: 52px;
  background-image: url(../../../images/logo/header__logo.svg);
  object-fit: cover;
  object-position: center;
}


@media screen and (max-width: 425px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}