.cover {
  margin: 89px 48px 0;
  padding: 0;
  width: calc(100% - 2*48px);
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 90px 0 0;
    width: 100%;
    min-height: 62.5vw;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 88px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 66px 0 0;
  }
}